.layout {
	display: grid;
	grid-template-rows: min-content 1fr;
	grid-template-columns: subgrid;
	grid-column: 1 / -1;

	header,
	main {
		display: grid;
		grid-template-columns: subgrid;
		grid-column: 1 / -1;
	}

	header {
		background-color: var(--color-neutral-100);
	}

	main {
		overflow: auto;
	}
}

.header {
	justify-content: space-between;
	padding-block: var(--unit-4);
}

.full {
	display: grid;
	grid-template-columns: subgrid;
	grid-column: 2 / -2;
}

.row {
	display: flex;
	align-items: center;
	gap: var(--unit-4);
}

.link {
	display: flex;
	align-items: center;
	gap: var(--unit-1);
	color: black;
	text-decoration: none;
}

.active {
	text-decoration: underline;
}
