@use "/node_modules/reset-css/sass/reset";

@use "/src/style/space.scss";
@use "/src/style/radius.scss";
@use "/src/style/fonts.scss";
@use "/src/style/color.scss";

body {
	font: var(--font-body-medium-regular);
	color: var(--color-neutral-1);
	background-color: var(--color-neutral-97);
}
