@use "/src/style/theme.module.scss";
@use "/src/style/space.scss";
@use "/src/style/radius.scss";
@use "/src/style/fonts.scss";

body {
	font: var(--font-body-medium-regular);
}

h1 {
	font: var(--font-heading-large);
}
h2 {
	font: var(--font-heading-medium);
}
h3,
h4,
h5,
h6 {
	font: var(--font-heading-small);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: inherit;
}

*:not(:is(input, textarea)) {
	text-box: trim-both cap alphabetic;
}

button,
input:is([type="checkbox"], [type="radio"]) {
	cursor: pointer;
}

button {
	@include theme.button;
}

input:is(
		[type="text"],
		[type="password"],
		[type="search"],
		[type="date"],
		[type="email"],
		[type="month"],
		[type="number"],
		[type="tel"],
		[type="time"],
		[type="url"],
		[type="week"],
		[type="datetime"],
		[type="datetime-local"]
	),
select {
	@include theme.input;
}

a {
	@include theme.link;
}

label:has([aria-invalid="true"]) {
	@include theme.invalid;
}
