@mixin disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

@mixin invalid {
	color: var(--color-error-500);
	border-color: currentColor;
}

@mixin button {
	background: none;
	background: white;
	color: black;
	border: 2px solid currentColor;
	padding: var(--unit-4) var(--unit-6);
	border-radius: var(--unit-full);
	cursor: pointer;

	&:disabled {
		@include disabled;
	}
}

.button {
	@include button;
}

@mixin input {
	display: inline-flex;
	min-width: 0;
	background: white;
	color: black;
	border: 2px solid currentColor;
	padding: var(--unit-4);
	border-radius: var(--unit-1);
	flex: 1;

	@media not (prefers-reduced-motion) {
		transition: all 0.2s ease;
	}

	&[aria-invalid="true"] {
		@include invalid;
	}

	&:disabled {
		@include disabled;
	}
}

.input {
	@include input;
}

@mixin link {
	color: var(--color-primary-400);
	text-decoration: underline;

	@media not (prefers-reduced-motion) {
		transition: all 0.1s ease;
	}

	&:hover,
	&:focus-visible {
		color: var(--color-primary-600);
	}
}

.link {
	@include link;
}

@mixin title {
	font: var(--font-heading-large);
}

.title {
	@include title;
}

@mixin heading {
	font: var(--font-heading-medium);
}

.heading {
	@include heading;
}

@mixin subheading {
	font: var(--font-heading-small);
}

.subheading {
	@include subheading;
}
