@mixin disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

@mixin invalid {
	color: red;
	border-color: currentColor;
}

@mixin button {
	background: lightgrey;
	color: black;
	border: none;
	padding: var(--space-2);
	border-radius: var(--radius-1);

	&:disabled {
		@include disabled;
	}
}

.button {
	@include button;
}

@mixin input {
	display: inline-flex;
	min-width: 0;
	background: white;
	color: black;
	border: 2px solid lightgrey;
	padding: var(--space-2);
	border-radius: var(--radius-1);
	flex: 1;

	@media not (prefers-reduced-motion) {
		transition: all 0.2s ease;
	}

	&[aria-invalid="true"] {
		@include invalid;
	}

	&:disabled {
		@include disabled;
	}
}

.input {
	@include input;
}

@mixin link {
	color: royalblue;
	text-decoration: underline;
}

.link {
	@include link;
}
