.layout {
	width: 100cqi;
	height: 100cqb;
	overflow: hidden;
	display: grid;
	gap: var(--space-4);
	--gutter: calc((100cqi - 1440px) / 2);
	grid-template-columns:
		var(--gutter)
		repeat(12, 1fr)
		var(--gutter);
}
